.activities-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.activities-grid > div {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.activity-TO_DO {
  background-color: darkred;
}

.activity-DONE {
  background-color: darkgreen;
}

.activity-WARNING {
  background-color: darkgoldenrod;
}
