.add-activity-form {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  justify-items: center;

  grid-template-columns: 1fr 1fr;
}

.add-activity-form > label, input {
  grid-column: 1 / span 2;
}
