.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 1s, height 1s;
}

.modal-children {
  transition: visibility 0.5s;
}
